-# This file is app/views/events/index.html.haml
%h1 All Events

%table#events
  %thead
    %tr
      %th Event Title
      %th Date
      %th More Info
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to "#{event.name}", event_path(event)
        %td= event.date
        
-# = link_to 'Add new Event', new_event_path                 


